:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.imageCard {
  height: 200px;
  width: 200px;
}

.row {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}

.space {
  justify-content: space-between;
}

.boutonValider {
  margin-left: 15px;
}
