<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-field">
    <label for="firstname">Firstname</label>
    <input
      pInputText
      type="text"
      id="firstname"
      name="firstname"
      [(ngModel)]="user.firstName"
      required
    />
  </div>

  <div class="form-field">
    <label for="username">Username</label>
    <input
      pInputText
      type="text"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      required
    />
  </div>

  <div class="form-field">
    <label for="email">Email</label>
    <input
      pInputText
      type="text"
      id="email"
      name="email"
      [(ngModel)]="user.email"
      required
    />
  </div>

  <div class="form-field">
    <label for="password">Password</label>
    <input
      pInputText
      type="password"
      id="password"
      name="password"
      [(ngModel)]="user.password"
      required
    />
  </div>

  <div>
    <p-button type="submit" label="Se connecter" severity="success" />
  </div>
</form>
