:host {
  display: block;
  height: 100%;
  overflow: auto;
}

.imageZone {
  display: grid;
}

.imageCard {
  height: 200px;
  width: 200px;

  grid-area: 1/1;
  z-index: 1;
}

.badge_wanted {
  width: 50px;
  height: 50px;

  grid-area: 1/1;
  z-index: 2;

  margin: 5px;

  background-color: rgb(191, 191, 7);

  border-radius: 50%;
}

.row {
  display: flex;
  flex-direction: row;

  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
}

.space {
  justify-content: space-between;
}
